# Default ignored files
/shelf/
/workspace.xml

# Archivos generados por PyCharm
.idea/

# Carpetas y archivos de caché
__pycache__/
*.pyc

# Archivos de configuración de PyCharm
*.iml
*.ipr
*.iws
.idea/
*.sfd
*.openshift/

# Carpeta de archivos de usuario
*.pyc
*.pyo
*.pyd

# Carpetas y archivos para la plataforma de Python
venv/
__pycache__/

# Archivos generados por Make
Makefile
*.o
*.out